.header {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    padding: 20px 15%;
    align-items: center;
    border-bottom: 1px solid rgb(226, 222, 222);
    background-color:white;
    /* margin-top: 20px; */
}
.header .logo img{
    width: 131px;
    height: 55pX;
}
.header .menu {
    /* flex: 2; */
    margin-top: 20px;
}
.header .menu a:hover{
    color: #b1cb5c;
}

.header .menu__list {
    display: flex;
    list-style: none;
    margin-left: 25px;
}
.header .menu__list-item {
    padding: 0px 20px;
}
.header .menu__list-item a {
    color: #171515;
    font-weight:bold;
    text-decoration: none;
    font-size: 18px;
}


.footer{
    /* margin-left: 12%; */
    
    /* text-decoration: none; */
    border-top: 3px solid #ddd;
    width: 100%;
}
footer{
    margin-left: 12%;
    margin-right: 12%;
}
.footer a{
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
}
.footerimg img{
    width: 108px;
    height: 45px;
    margin-bottom: 10px;
}
.footerimg2 img{
    width: 160px;
    height: 68px;
    margin-bottom: 10px;
}